/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff7f00; /* Laranja */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #ff7f00; /* Laranja */
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
.section {
    display: none;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section.active {
    display: block;
}

/* Formulários */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form input, form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
}

form button {
    background-color: #ff7f00; /* Laranja */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e67300; /* Cor laranja mais escura para hover */
}

/* Lista de itens */
.item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 5px;
}

.item button {
    background-color: #ff7f00; /* Laranja */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item button:hover {
    background-color: #e67300; /* Cor laranja mais escura para hover */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff7f00; /* Laranja */
    color: #fff;
    margin-top: 20px;
}

/* Página de Login */
#login {
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#login input, #login button {
    width: calc(100% - 20px);
    margin: 10px 0;
}

#login button {
    background-color: #ff7f00; /* Laranja */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login button:hover {
    background-color: #e67300; /* Cor laranja mais escura para hover */
}

/* Navegação restrita após login */
nav ul li a.restricted {
    display: none;
}

nav ul li a.restricted.active {
    display: inline;
}
